[submodule "roles/veeam"]
	path = roles/veeam
	url = https://github.com/mycloudrevolution/veeam.git
[submodule "roles/veeam_setup"]
	path = roles/veeam_setup
	url = https://github.com/mycloudrevolution/veeam_setup.git
